<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Proyecto plena inclusión</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <main>
      <div class="form">
        <h1>Registro de participantes</h1>
        <form action="/addParticipant" method="post">
          <input type="text" placeholder="ID" name="id" value="" />
          <input
            type="text"
            placeholder="Nombre"
            name="nameUser"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Primer apellido"
            name="surname1"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Segundo apellido"
            name="surname2"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="DNI"
            name="DNI"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Género"
            name="gender"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Número de móvil"
            name="phoneNumber"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Correo electrónico"
            name="email"
            value=""
          /><br /><br />
          <input
            type="date"
            placeholder="Fecha de nacimiento"
            name="birthDate"
            value=""
          /><br /><br />
          <input type="text" placeholder="Dirección" name="address" value="" />
          <input
            type="text"
            placeholder="Discapacidad"
            name="disability"
            value=""
          /><br /><br />
          <input type="submit" value="Registrar" /><br /><br />
          <hr />
        </form>
        <h1>Registro de profesionales</h1>
        <form action="/addProfessional" method="post">
          <input type="text" placeholder="ID" name="id" value="" />
          <input
            type="text"
            placeholder="Nombre"
            name="nameUser"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Primer apellido"
            name="surname1"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Segundo apellido"
            name="surname2"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="DNI"
            name="DNI"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Género"
            name="gender"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Número de móvil"
            name="phoneNumber"
            value=""
          /><br /><br />
          <input
            type="text"
            placeholder="Correo electrónico"
            name="email"
            value=""
          /><br /><br />
          <input
            type="date"
            placeholder="Fecha de nacimiento"
            name="birthDate"
            value=""
          /><br /><br />
          <input type="text" placeholder="Dirección" name="address" value="" />
          <input
            type="text"
            placeholder="Especialidad"
            name="speciality"
            value=""
          />
          <input
            type="password"
            placeholder="Contraseña"
            name="password"
            value=""
          />
          <input
            type="password"
            placeholder="Confirmar contraseña"
            name="confPassword"
            value=""
          /><br /><br />
          <input type="submit" value="Registrar" /><br /><br />
          <hr />
        </form>
        <h1>Añadir actividad</h1>
        <form action="/addActivity" method="post">
          Nombre: <input type="text" name="name" value="" /><br /><br />
          Fecha: <input type="date" name="date" value="" /><br /><br />
          <input type="submit" value="Añadir" /><br /><br />
          <hr />
        </form>
        <h1>Editar actividad</h1>
        <form action="/updateActivity" method="post">
          Id: <input type="text" name="id" value="" /><br /><br />
          Nombre: <input type="text" name="name" value="" /><br /><br />
          Fecha: <input type="date" name="date" value="" /><br /><br />
          <input type="submit" value="Editar actividad" /><br /><br />
          <hr />
        </form>
        <h1>Buscar actividades por fecha</h1>
        <form action="/getActivitiesDate" method="post">
          Fecha inicio:
          <input type="date" name="dateStart" value="" /><br /><br />
          Fecha final: <input type="date" name="dateEnd" value="" /><br /><br />
          <input type="submit" value="Buscar actividades" /><br /><br />
          <hr />
        </form>
        <h1>Mostrar actividades de usuario</h1>
        <form action="/getActivitiesByUser" method="post">
          Id usuario: <input type="text" name="idUser" value="" /><br /><br />
          <input type="submit" value="Mostrar" /><br /><br />
          <hr />
        </form>
        <form action="/addUserActivity" method="post">
          <h1>Apuntar usuario a actividad</h1>
          IDusuario: <input type="text" name="idUser" value="" /><br /><br />
          IDActividad:
          <input type="text" name="idActivity" value="" /><br /><br />
          <input type="submit" value="Enviar" /><br /><br />
          <hr />
        </form>
        <form action="/getUsers" method="post">
          <h1>Mostrar usuarios</h1>
          <input type="submit" value="mostrar" />
          <hr />
        </form>
        <form action="/deleteProfessional" method="post">
          <h1>Borrar profesional</h1>
          <input type="text" name="id" value="" /><br /><br />
          <input type="submit" value="borrar" />
          <hr />
        </form>
        <form action="/getActivities" method="post">
          <h1>Mostrar actividades</h1>
          <input type="submit" value="mostrar" />
          <hr />
        </form>
      </div>
    </main>
    <footer>
      <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
  </body>
</html>
